/* Перебиваем стандартные темы mdBook */
:root, .theme-coal, .page {
    --bg: #050407 !important;
    --fg: #e2daf0 !important;
    --sidebar-bg: #0b090f !important;
    --links: #a066ff !important;
}

html, body, .page, #content, .page-wrapper {
    background-color: #050407 !important;
    color: #e2daf0 !important;
}

/* Фиолетовое неоновое свечение для всех главных заголовков */
h1, h2, h3, h4, .menu-title {
    color: #ffffff !important;
    text-shadow: 0 0 12px #a066ff, 0 0 4px rgba(138, 43, 226, 0.6) !important;
}
